<div class="card-columns">
    <div class="card" style="width:400px" >
        <img class="card-img-top" src="{{pro.image}}" style="width:18rem" alt="Card image">
        <hr>
        <div class="card-body">
        <h4 class="card-title">{{pro.title}}</h4>
        <p class="card-text font-weight-bold">{{pro.price|currency:"EUR"}}</p>
        <p class="card-text font-weight-bold">Detailes: {{pro.description}}</p>
        <p class="card-text ">Category: {{pro.category}}</p>
            
            
        </div>
    </div>
</div>